grammar GrammarName;

options {
    output=AST;
    language=Java;
    tokenVocab=xxxLexer;
}

import {
    xxxLexer;
}

tokens {
}

channels {
}

@header {
package org.apache.antlr4;
}

@members {
}

@after {
}